{% extends "base.html" %}

{% block title %}FaceLogin - My Account{% endblock %}

{% block main %}
    <div class="page-header">
        <h1>My Account</h1>
    </div>
    
    <table class="table table-striped">

        <tr>
            <td><b>Name:</b> </td>
            <td>{{user.name}}</td>
        </tr>
        
        <tr>
            <td><b>eMail:</b> </td>
            <td>{{user.email}}</td>
        </tr>
        
        <tr>
            <td><b>Nickname:</b> </td>
            <td>{{user.nickname}}</td>
        </tr>
        
        <tr>
            <td><b>Added:</b> </td>
            <td>{{user.added}}</td>
        </tr>

    </table>
    
    <div>
        <button type="button" class="btn btn-link" onclick="location.href='/'">Back to home</button>
    </div>
{% endblock %}
